<li id="ad-id-<%= ad.id %>">
    <h4 class="ad-title"><%= link_to ad.title, ad_path(ad.id) %></h4>
    <div class="ad-text"><%= ad.content %></div>
    <div class="ad-category"><span class="h">Category:</span> <%= ad.category.name%></div>
    <div class="ad-tags"><span class="h">Tags:</span>
        <% ad.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag.name) %>
        <% end %>
    </div>
    <div class="timestamp">Posted <%= time_ago_in_words(ad.created_at) %> ago by <%= link_to render(ad.user), user_path(ad.user.username) %>.</div>
</li>