<% provide(:title, @ad.title) %>

<h2 class="ad-title"><%= @ad.title %></h2>
<% if @ad.archived %>
    <div class="alert">
        <p>This ad is archived and not visible to other users.</p>
        <%= link_to 'Unarchive ad', unarchive_ad_path, method: "put" %>
    </div>
<% end %>
<div class="ad-text"><%= @ad.text %></div>
<div class="ad-user">Posted by <%= @ad.user.username %></div>
<div class="ad-category"><span class="h">Category:</span> <%= @ad.category.name %></div>
<div class="ad-tags"><span class="h">Tags:</span>
    <% @ad.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag.name) %>
    <% end %>
</div>
<div class="timestamp">Posted <%= time_ago_in_words(@ad.created_at) %> ago.</div>

<% if current_user == @ad.user %>
    <%= link_to 'Edit ad', edit_ad_path, class: "edit" %>
    <% unless @ad.archived %>
        | <%= link_to 'Archive ad', archive_ad_path, method: "put", class: "archive" %>
    <% end %>
<% end %>

<h2>Messages</h2>
<% if current_user == @ad.user %>
    <ol id="users">
        <% @users.each do |u| %>
            <li><a href="<%= messages_ad_path(@ad, :user => u.username) %>" data-turbo-frame="user_messages"><%= u.username %></a>
        <% end %>
    </ol>
    <%= turbo_frame_tag "user_messages", src: messages_ad_path(@ad, :user => @users.first.username) %>
<% else %>
    <ol id="messages">
        <%= render @messages %>
    </ol>
    <%= form_with(model: @message) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.text_area :text %>
        <%= f.hidden_field :to_id, value: @ad.user.id %>
        <%= f.hidden_field :ad_id, value: @ad.id %>

        <%= f.submit "Send" %>
    <% end %>
<% end %>