<% provide(:title, @ad.title) %>

<script type="text/javascript">
    function showSentMessage() {
        let frame = document.getElementById("messagesFrame");
        if (frame.style.display == "none" || getComputedStyle(frame).display == "none") {
            frame.style.display = "block";
        } else {
            frame.style.display = "none";
        }
    }
    window.onload = function() { 
        let button = document.getElementById("sendAdMessage");
        if (button != null) {
            button.addEventListener("click", showSentMessage);
        }
    }
</script>

<h2 class="ad-title"><%= @ad.title %></h2>
<% if @ad.archived %>
    <div class="alert">
        <p>This ad is archived and not visible to other users.</p>
        <%= link_to 'Unarchive ad', unarchive_ad_path, method: "patch" %>
    </div>
<% end %>
<p class="ad-text"><%= @ad.text %></p>
<div class="ad-user">Posted by <%= @ad.user.username %></div>
<div class="ad-category"><span class="h">Category:</span> <%= @ad.category.name %></div>
<div class="ad-tags"><span class="h">Tags:</span>
    <% @ad.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag.name) %>
    <% end %>
</div>
<div class="timestamp">Posted <%= time_ago_in_words(@ad.created_at) %> ago.</div>

<% if current_user == @ad.user %>
    <%= link_to 'Edit ad', edit_ad_path, class: "edit" %>
    <% unless @ad.archived %>
        | <%= link_to 'Archive ad', archive_ad_path, method: "patch", class: "archive" %>
    <% end %>
<% end %>

<% if user_signed_in? %>
    <h2>Messages</h2>
    <% if current_user == @ad.user %>
        <p>Here we need interested chats</p>
    <% else %>
        <p>Interested? Send <%= @ad.user.username %> a message.</p>

        <%= form_with(model: @message, data: { 'turbo-frame': 'messagesFrame'}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.text_area :text %>
            <%= f.hidden_field :chat_id, value: nil %>
            <%= f.hidden_field :participants, value: @ad.user.id %>
            <%= f.hidden_field :ad_id, value: @ad.id %>
            <%= f.submit "Send", id: 'sendAdMessage' %>
        <% end %>
    <% end %>
<% end %>