<li id="message-id-<%= message.id %>"
    class="message<%= @last_read < message.created_at ? ' unread' : ''%>"
    <% if message.from_id == current_user.id %>
        data-from="self"
    <% else %>
        data-from="<%= message.from_id %>"
    <% end %>
    >
    <% if message.ad_id && ad = Ad.find(message.ad_id) %>
        <span class="ad">
            <%= link_to ad, target: "_top" do %>
                This message is in response to <%= ad.title %>.
            <% end %>
        </span>
    <% end %>
    <span class="text"><%= message.text %></span>
    <span class="time"><%= time_ago_in_words(message.created_at) %> ago.</span>

</li>
