<% provide(:title, "Conversation with " + @user.username) %>

<h2><%= @user.username %></h2>

<% @messages.each do |m| %>
    <ol class="messages">
        <li class="message">
            <span class="from"><%= m.from.username %>:</span>
            <span class="text"><%= m.text %></span>
            <span class="time"><%= time_ago_in_words(m.created_at) %> ago.</span>
        </li>
    </ol>
<% end %>

<%= form_with(model: @message) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.text_area :text %>

    <%= f.hidden_field :to_id, value: @user.id %>

    <%= f.submit "Send" %>
<% end %>