<% provide(:title, @group.name) %>
<h2 class="group-name"><%= @group.name %></h2>

<% if @group.user == current_user %>
    <h4>You own this group.</h4>
    <%= link_to 'Edit group', edit_group_path(@group) %>
<% else %>
    <h4>Owned by <%= link_to @group.user.username, user_path(@group.user) %>.</h4>
<% end %>

<% if @group.members.include? current_user %>
    <%= render :partial => 'groups/member_view', 
        :locals => { group: @group, post: @post, posts: @posts }  %>
<% else %>
    <%= render :partial => 'groups/non_member_view', 
        :locals => { group: @group, posts: @posts, groupuser: @groupuser }  %>
<% end %>