<h1><%= @user.username %></h1>
<% if @user == current_user %>
	<%= link_to('Edit profile', edit_user_registration_path) %>
<% end %>
<ul id="userOptions">
	<li>Send message</li>
    <li>Invite to group</li>
    <li>Follow</li>
</ul>

<p id="userDescription"><%= @user.description %></p>

<% if @user.ads.any? %>
    <h2>Ads</h2>
    <ol class="ads">
        <%= render @ads %>
    </ol>
    <%= will_paginate @ads %>
<% end %>