<section id="userHeader">
    <%= avatar(@user, 200) %>
    <div id="userHeaderText">
    <h1><%= @user.username %></h1>
    <% if @user == current_user %>
        <p>DOB: <%= @user.dob %></p>
        <%= link_to('Edit profile', edit_user_registration_path) %>
    <% end %>

    <span id="userDescription"><%= @user.description %></span>

    <% if @user != current_user %>
        <%= form_with(model: @chat, local: true, data: {'turbo-frame': 'messagesFrame'}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.hidden_field :participants, value: @user.id %>

            <%= f.submit "Start chat", id: "chatButton" %>
        <% end %>
    <% end %>
    </div>
</section>
<section id="userContent">
    <% if @user.ads.any? %>
        <h2>Ads</h2>
        <ol class="ads">
            <%= render @ads %>
        </ol>
        <%= will_paginate @ads %>
    <% end %>
</section>