<h1><%= @user.username %></h1>
<% if @user == current_user %>
	<%= link_to('Edit profile', edit_user_registration_path) %>
<% end %>
<ul id="userOptions">
    <li>Invite to group</li>
    <li>Follow</li>
</ul>

<%= form_with(model: @chat, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.hidden_field :participants, value: @user.id %>

    <%= f.submit "Start chat" %>
<% end %>

<p id="userDescription"><%= @user.description %></p>

<% if @user.ads.any? %>
    <h2>Ads</h2>
    <ol class="ads">
        <%= render @ads %>
    </ol>
    <%= will_paginate @ads %>
<% end %>