<p>Hello <%= current_user.username %>!</p>

<h2>Find a game</h2>
<%= form_with(url: "/ads", method: "get") do %>
	<fieldset>
      <legend>Location</legend>
      <br><%= radio_button_tag 'location', 'online', checked: true %>
      <%= label_tag(:location_online, 'Online') %>
      <br><%= radio_button_tag 'location', 'inperson' %>
      <%= label_tag(:location_inperson, 'In-person') %>
	</fieldset>
    <fieldset>
      <legend>Game types</legend>
      <br><%= check_box_tag 'rpgs', 'rpgs', true %>
      <%= label_tag(:rpgs, 'RPGs') %>
      <br><%= check_box_tag 'ccgs', 'ccgs', true %>
      <%= label_tag(:rpgs, 'CCGs') %>
      <br><%= check_box_tag 'boardgames', 'boardgames', true %>
      <%= label_tag(:rpgs, 'Board games') %>
      <br><%= check_box_tag 'wargames', 'wargames', true %>
      <%= label_tag(:rpgs, 'Wargames') %>
      <br><%= check_box_tag 'tradional', 'traditional', true %>
      <%= label_tag(:rpgs, 'Traditional games') %>
      <br><%= check_box_tag 'larps', 'larps', true %>
      <%= label_tag(:rpgs, 'LARPs') %>
    </fieldset>
    <fieldset>
      <legend>Tags</legend>
      <%= text_field_tag(:tags) %>
	</fieldset>
    <%= submit_tag("Find game") %>
  <% end %>