<turbo-frame id="messagesFrame">
    <div id="chat-<%= @chat.id %>" data-controller="chat">    
        <div id="chatHeader">
            <%= link_to 'â†', chats_path %>
            <% @users.each do |u| %>
                <%= link_to u.username, user_path(u.username), target: "_top" %>
            <% end %>
        </div>
        <ol id="messages">
            <li></li>
            <% last_user = nil %>
            <%= render @chat.messages %>
        </ol>
        <%= form_with(model: @message, id: "chatForm") do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.text_area :text %>

            <%= f.hidden_field :chat_id, value: @chat.id %>

            <%= f.submit "Send", data: {action: "click->chat#send"} %>
        <% end %>
    </div>
</turbo-frame>