<!DOCTYPE html>
<html>
  <head>
    <title>Summon Player</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		<header id="title">
    <%= link_to(root_path) do %>
    	<h1>Summon Player</h1>
  	<% end %>
    <nav>
    <ul>
    	<li>
      	<%= link_to('Home', root_path) %>
      </li>
      <li>
        <%= user_signed_in? ? 
          link_to('Sign out', destroy_user_session_path, method: "delete") 
          : link_to('Sign in', new_user_session_path) %>
    </ul>
    </nav>
    </header>
    <main>
    	<%= yield %>
    </main>
  </body>
</html>
