<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="page_type" id="pageType" content="<%= yield(:type) %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header id="title">
    <%= link_to(root_path) do %>
    	<h1>Summon Player</h1>
  	<% end %>
    <nav>
    <ul>
    	<li>
      	<%= link_to('Home', root_path) %>
      </li>
    	<li>
      	<%= link_to('Ads', ads_path) %>
      </li>
      <li>
      	<%= link_to('Messages', chats_path) %>
      </li>
      <% if user_signed_in? %>
      	<li><%= link_to 'Profile', user_path(current_user.username) %></li>
				<li><%= button_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to('Sign in', new_user_session_path) %></li>
    	<% end %>
    </ul>
    </nav>
    </header>
    <main>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    	<%= yield %>
    </main>
  </body>
</html>
